<!DOCTYPE html>
<html lang="en" xmlns:th="ttp://www.thymleaf.org">
<head Id="headId">
    <meta charset="UTF-8">
    <title>Game finished</title>
</head>
<body>
<div align ="center">
    <h1 id="h1Id">Guess the number game</h1>
    <h2 id ="gameOver">Game over</h2>
    <h3 Id ="ResultMessageId">Result Message Content</h3>
    <h3><a Id="RestartLinkId">Play Again</a></h3>
    <h3><a Id ="HomeId">Home</a></h3>
    <footer Id ="footerId">
        <p>footer placeholder... something went terribly wrong..
            please contact our nice and handsome/pretty staff members(m/f/d)</p>
    </footer>
</div>
</body>
</html>