<!DOCTYPE html>
<html lang="en">
<head Id="headId">
    <meta charset="UTF-8">
    <title>Game</title>
</head>
<body>
    <div align="center">
        <h1 Id ="game-title">Your personal Guess the Number Game</h1>
        <h3 Id ="MainMessageId">
            Main Message Content
        </h3>
        <h3 Id ="ResultMessageId">Result Message Content</h3>

        <form Id="gameFormId" action="play" method = "POST">
            <label Id="enter-guess" for ="guess">Enter your guess</label>
            <input id = "guess" type ="number" name = "guess"/>
            <input id = "idSubmit" type = "submit" value ="Submit"/>
        </form>
        <footer Id ="footerId">
            <p>placeholder footer... something went wrong... please contact our customer service</p>
        </footer>
    </div>
</body>
</html>